.layout-enter-active, .layout-leave-active {
  transition: opacity 0.5s;
}

.layout-enter, .layout-leave-active {
  opacity: 0;
}

.page-enter-active, .page-leave-active {
  transition: opacity 0.5s;
}

.page-enter, .page-leave-to {
  opacity: 0;
}

body {
  line-height: inherit;
}

.ProseMirror [contenteditable="false"] {
  white-space: normal;
}

.ProseMirror [contenteditable="true"] {
  white-space: normal;
}

[contenteditable] {
  outline: 2px solid transparent;
}

.custom-shadow {
  text-shadow: 2px 0px 14px #f0f0f0;
}

.no-overflow {
  overflow: hidden!important;
}

@media only screen and (max-width: 768px) {
  .sticky-top {
    position: sticky!important;
    position: -webkit-sticky!important;
    top: 0!important;
    z-index: 5;
  }
}

@media only screen and (min-width: 769px) {
  .sticky-top {
    position: sticky!important;
    position: -webkit-sticky!important;
    top: 9.2vh!important;
    z-index: 5;
  }
}

.scroll-y-list {
  overflow-y: hidden;
  overflow-x: scroll!important;
  -webkit-overflow-scrolling: touch;
  display: flex;
  border-radius: 15px!important;
  padding: 0!important;
  margin-bottom: 60px!important;
}

.scroll-y-list>* {
  display: block;
  object-fit: contain;
  height: max-content;
  width: 50%;
}

.scroll-y-list::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.scroll-y-list::-webkit-scrollbar-thumb {
  background: transparent;
}

.scroll-y-list::-webkit-scrollbar {
  width: 0;
}

.truncate-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-lines: 4;
}

.truncate-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-lines: 1;
}

@media only screen and (max-width: 768px) {
  .truncate-text {
    max-lines: 2;
  }

  .truncate-title {
    max-lines: 1;
  }

  .scroll-y-list>* {
    width: 100%;
  }

  .scroll-y-list {
    border-radius: 0px;
  }

  .scroll-y-list>* {
    height: auto;
  }
}

/* .theme--light.v-application {
  background-color: azure
}
.theme--light.v-sheet {
  background-color: azure
} */